@*@model Blog.Models.ContactModels*@
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contact us</h2>
<div>
    <div class="col-md-6">
        <div>
            <div>
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input id="txtName" name="Name" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input  <input id="txttoaddress" name="Email" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Subject">Subject</label>
                        <input id="txtSubject" name="Subject" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Message</label>
                        <textarea rows="5" cols="15"
                                  name="Message" id="txtMessage" class="form-control"></textarea>

                    </div>
                    <div>
                        <button type="submit"
                                class="btn btn-success">
                            Send
                        </button>
                    </div>
                }
            </div>

        </div>
    </div>

</div>

